.breadcrumbs {
  font-size: 0.8em;
  border-bottom: 1px solid #ccc;
  opacity: 0.9;
  &-links {
    margin: 0 auto;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    flex-flow: wrap;
  }
  li {
    list-style: none;
    margin-right: 1.25em;
    position: relative;
    &:not(:last-child) {
      &:after {
        position: absolute;
        left: calc(100% + 0.5em);
        top: 50%;
        transform: translateY(-50%);
        content: '\203A';
      }
    }
  }
  a {
    color: $primary-dark;
    &:hover {
      color: $bg-dark !important;
    }
  }
}
