table.bundled_products {
  .reset_variations,
  .k-productform__pricelabel,
  .k-productform__select-container > .reset_variations,
  .single_variation_wrap,
  .bundled_item_images_head,
  .bundled_item_images_col,
  .details .item_qty {
    display: none !important;
  }

  .quantity {
    display: block !important;
    width: 100%;
  }

  tr > th.bundled_item_details_head,
  tr > th.bundled_item_qty_head,
  tr > td.bundled_item_qty_col {
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
  }

  tr > th.bundled_item_qty_head,
  tr > td.bundled_item_qty_col {
    padding-left: 2em !important;
  }

  tr > th.bundled_item_details_head {
    padding-left: 0;
  }

  .item_qty {
    font-weight: bold;
  }

  .bundled_product_permalink {
    color: $primary;
  }

  .bundled_product_optional_checkbox {
    text-transform: uppercase;
    position: relative;
    padding: 0 0 0.5em;
    box-shadow: 0 1px 0 $accent;
    transition: box-shadow 0.125s ease-out;

    &::before {
      color: $primary;
      content: '+';
      display: block;
      position: absolute;
      right: 1em;
      bottom: 0;
      position: absolute;
      font-size: 150%;
      font-weight: bold;
      transition: transform 0.5s $ease-out-back;
    }

    &--active {
      box-shadow: none;
      &::before {
        transform: rotate(405deg);
      }
    }
  }

  .attribute_options {
    border-bottom: 1px solid $black !important;
  }

  td.value {
    padding-bottom: 0.75em !important;
    box-shadow: 0 1px 0 $accent;
  }
}
