.k-button {
  appearance: none;
  display: block;
  color: $true-white;
  padding: 1.25em 1.15em;
  border-radius: .4em;
  text-align: center;
  border: 1px solid;
  transition: background 1s $ease-out-circ,
              color 1s $ease-out-circ,
              border-color 1s $ease-out-circ;

  &:hover {
    cursor: pointer;
    background: $true-white;
    color: $primary;
  }

  &--primary {
    background: $primary;
    border-color: $primary;
  }

  &--secondary {
    background: transparent;

    &.on-light {
      border-color: #ccc;
      color: #ccc;
    }
  }

  &--default {
    background: $true-white;
    color: $primary;
    border-color: $accent-text;

    &:hover {
      background: $primary;
      color: $true-white;
    }
  }

  &--dark {
    background: $bg-dark;
    border-color: $bg-dark;

    &:hover {
      color: $primary;
      border-color: $primary;
      background: $bg-dark;
    }
  }
}

@media(min-width: $bp-sm) {
  .k-button {
    padding: 1.25em 2em;
    display: inline-block;
  }
}
