.k-cart {
  .k-inner {
    @include clearfix();
  }

  &--sidebar {
    margin: 2em 0;
    background: $true-white;

    &__liner {
      padding: 2em;
    }

    * {
      margin: 0;
    }

    .k-bigtext {
      font-size: 200%;
      line-height: 1;
      margin-bottom: 1em;
    }

    .k-button {
      width: 100%;

      &--primary {
        margin-bottom: .5em;
      }
    }

    &__meta {
      margin-top: 1em;

      p {
        font-size: 90%;
      }
    }
  }
}

.k-cartcontents {

  &--col {
    flex-basis: 25%;
  }

  &--titlerow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    * {
      margin: 0;
    }

    p {
      font-size: 75%;
    }
  }

  &--item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
  }

  .k-figure {
    &--liner {
      padding-bottom: 100%;
    }
  }

  &--name {
    * {
      margin: 0;
    }
  }

  &--quantity {
    text-align: center;
  }
}

@media(min-width: $bp-lg) {
  .k-cart {
    &--sidebar,
    .k-cartcontents {
      float: left;
    }

    .k-cartcontents {
      width: 65%;
      margin-right: 5%;
    }

    &--sidebar {
      width: 30%;
      margin: 0;
    }
  }
}