.k-cart {
  background: $bg-gray;

  &--meta {
    input {
      border: 1px solid #ddd;
      padding: 1em;
    }

    &__coupon {
      margin-bottom: 1em;

      label,
      input {
        display: block;
        min-width: 100%;
      }
    }

    &__actions {
      .k-button {
        width: 100%;

        &:first-child {
          margin-bottom: 1em;
        }
      }
    }
  }

  &--titlerow {
    display: none;

    p {
      margin: 0;
    }
  }

  &--item {
    padding: 3em 0;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: 0;
    }

    &__liner {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    &__thumbnail,
    &__title {
      flex-basis: 100%;
    }

    &__quantity,
    &__price {
      flex-basis: 48.5%;
    }

    &__price {
      text-align: right;
    }

    &__thumbnail {
      img {
        display: block;
        max-width: 100%;
      }
    }

    &__title {
      .k-headline {
        font-size: 1.5em;
        margin: 0;
      }
    }

    &__title {
      a {
        color: $black;

        &:hover {
          color: $primary;
        }
      }
    }

    &__quantity {
      label {
        display: block;
      }

      .k-productform--quantity {
        width: 100%;
      }
    }

    &__price {
      align-self: flex-end;
      margin-bottom: 0.75em;

      .k-bigtext {
        margin: 0;
        font-size: 1.5em;
      }
    }
  }

  &--sidebar {
    margin: 2em 0;
    background: $true-white;

    &__liner {
      padding: 2em;
    }

    * {
      margin: 0;
    }

    .k-bigtext {
      font-size: 200%;
      line-height: 1;
      margin-bottom: 1em;
    }

    .k-button {
      width: 100%;

      &--primary {
        margin-bottom: 0.5em;
      }
    }

    &__meta {
      margin-top: 1em;

      p {
        font-size: 90%;
      }
    }
  }

  &--actions {
    margin-top: 2em;
    padding-left: 10%;

    span {
      span {
        color: red;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .k-cart {
    &--item {
      &__title,
      &__thumbnail {
        flex-basis: 48.5%;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .k-cart {
    & > .k-inner {
      @include clearfix();
    }

    &--main,
    &--sidebar {
      float: left;
    }

    &--main {
      width: 65%;
    }

    &--sidebar {
      width: 30%;
      margin-left: 5%;
      margin-top: 0;
    }

    &--titlerow {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      padding-left: 10%;
      border-bottom: 1px solid #ddd;

      .k-cart--titleitem {
        flex-basis: 22.5%;
        text-align: right;
        padding-bottom: 1em;

        &:first-child {
          flex-basis: 32.5%;
          text-align: left;
        }
      }
    }

    &--item {
      &__quantity,
      &__price {
        flex-basis: 22.5%;
        align-self: center;
      }

      &__thumbnail {
        flex-basis: 10%;
      }

      &__title {
        flex-basis: 32.5%;
      }

      &__price {
        margin-bottom: 0;
      }
    }

    &--meta {
      width: 50%;
      max-width: 25em;
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-cart {
    &--main {
      width: 70%;
    }

    &--sidebar {
      width: 25%;
    }
  }
}
