.k-cart {
  background: $bg-gray;

  &__notices {
    text-align: center;

    .woocommerce-notices-wrapper,
    ul {
      padding-top: 3em;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
  }

  &--meta {
    padding-bottom: 0 !important;

    input {
      border: 1px solid #ddd;
      padding: 1em;
    }

    &__coupon {
      margin-bottom: 1em;

      label,
      input {
        display: block;
        min-width: 100%;
      }
    }

    &__actions {
      .k-button {
        width: 100%;

        &:first-child {
          margin-bottom: 1em;
        }
      }
    }
  }

  &--quantity {
    position: relative;
    margin-top: 0.5em;

    input[type='number'] {
      appearance: none;
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-weight: 500;
      padding: 1.25em 3em;
      border: 1px solid $bg-dark;
      border-radius: 0.25em;
      box-shadow: none;
      background: $true-white;
      outline: none;
    }

    .k-reduce,
    .k-increase {
      position: absolute;
      top: 50%;
      left: 0.5em;
      transform: translateY(-50%);
      appearance: none;
      background: none;
      border: none;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }

    .k-increase {
      right: 0.5em;
      left: auto;
    }
  }

  &--titlerow {
    display: none;

    p {
      margin: 0;
    }
  }

  &--item {
    padding: 3em 0;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: 0;
    }

    &__liner {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    &__thumbnail,
    &__title {
      flex-basis: 100%;
    }

    &__quantity,
    &__price {
      flex-basis: 48.5%;
    }

    &__quantity {
      align-self: flex-start;
    }

    &__price {
      text-align: right;
    }

    &__thumbnail {
      img {
        display: block;
        max-width: 100%;
      }
    }

    &__title {
      .k-headline {
        font-size: 1.5em;
        margin: 0;
      }
    }

    &__title {
      a {
        color: $black;

        &:hover {
          color: $primary;
        }
      }
    }

    &__quantity {
      label {
        display: block;
      }

      .k-productform--quantity {
        width: 100%;
      }
    }

    &__price {
      align-self: flex-end;
      margin-bottom: 0.75em;

      .k-bigtext {
        margin: 0;
        font-size: 1.5em;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    &__bundleditem {
      border-bottom: 1px solid #dedede;
      padding: 0.5em 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      &__price {
        color: $primary;
        display: block;

        sup {
          color: $black;
          padding-left: 1em;
        }
      }
    }
  }

  &--sidebar {
    margin: 2em 0;
    background: $true-white;

    .k-veteran-coupon {
      border-bottom: 1px solid #dedede;
      padding-bottom: 0.5em;

      &__liner {
        display: flex;
        justify-content: space-between;
      }

      &__title {
        flex-basis: 75%;

        p {
          line-height: 1.2;
        }
      }

      &__amount {
        flex-basis: 25%;
        text-align: right;

        a {
          color: $primary;

          &:hover {
            color: red !important;
          }
        }
      }
    }

    &__liner {
      padding: 2em;
    }

    * {
      margin: 0;
    }

    .k-bigtext {
      font-size: 200%;
      line-height: 1;
      margin-bottom: 1em;
    }

    .k-coupon {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      padding-bottom: 1em;
      border-bottom: 1px solid #dedede;

      &__title,
      &__discount {
        flex-basis: 48.5%;
      }

      &__discount {
        text-align: right;

        a {
          color: $primary;

          &:hover {
            color: red !important;
          }
        }
      }
    }

    .k-button {
      width: 100%;

      &--primary {
        margin-bottom: 0.5em;
      }
    }

    &__meta {
      margin-top: 1em;

      p {
        font-size: 90%;
      }
    }
  }

  &--actions {
    margin-top: 2em;
    padding-left: 10%;

    span {
      span {
        color: red;
        font-weight: 700;
      }
    }
  }

  &__subtotal {
    padding-top: 1em;
    text-align: center;
    margin-bottom: 1em;
  }

  &__continue {
    margin-bottom: 1em;
  }

  &__meta {
    p {
      font-size: 80%;
      line-height: 1.3;
      margin-bottom: 1em;

      &:first-child {
        text-align: center;
      }
    }

    a {
      color: $primary;

      &:hover {
        color: $primary-dark !important;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .k-cart {
    &--item {
      &__title,
      &__thumbnail {
        flex-basis: 48.5%;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .k-cart {
    & > .k-inner {
      @include clearfix();
    }

    &__headline {
      padding-bottom: 4em;

      h1 {
        margin-top: 0;
      }
    }

    &--main,
    &--sidebar {
      float: left;
    }

    &--main {
      width: 65%;
    }

    &--sidebar {
      width: 30%;
      margin-left: 5%;
      margin-top: 0;
      position: sticky;
      top: 10em;
    }

    &--titlerow {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      border-bottom: 1px solid #ddd;

      .k-cart--titleitem {
        flex-basis: 22.5%;
        text-align: right;
        padding-bottom: 1em;

        &:first-child {
          flex-basis: 32.5%;
          text-align: left;
        }
      }
    }

    &--quantity {
      margin-top: 0;
    }

    &--item {
      &__quantity,
      &__price {
        flex-basis: 22.5%;
        align-self: flex-start;
      }

      &__thumbnail {
        flex-basis: 10%;
      }

      &__title {
        flex-basis: 32.5%;
      }

      &__price {
        margin-bottom: 0;
      }
    }

    &--meta {
      width: 50%;
      max-width: 25em;
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-cart {
    &--main {
      width: 70%;
    }

    &--sidebar {
      width: 25%;
    }
  }
}
