.k-productcard {
  .k-figure {
    width: 80%;
    margin: auto;

    &--liner {
      padding-bottom: 100%;
    }
  }

  .k-productcard__review-target {
    /*
      this selector exists because it's only for the __review-target selector
      inside of the productcard. there are .k-productcard__review targets elsewhere,
      but they don't need the props defined here.
     */
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  &--liner {
    position: relative;
  }

  &--wideimg {
    .k-figure {
      width: 100%;
      border-radius: 0.33em;

      &--liner {
        padding-bottom: 65.2%;
      }
    }
  }

  &--title {
    text-align: center;
    margin-top: 1em;

    h3 {
      margin: 0;
      font-size: 120%;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;

      a {
        color: $black;

        &:hover {
          color: $primary !important;
        }
      }
    }

    p {
      margin-top: 0;
    }
  }

  &--action {
    margin-top: 2em;

    .k-button {
      display: block;

      &:hover {
        color: $true-white !important;
      }
    }
  }

  &--reviews {
    position: absolute;
    width: 100%;

    .k-accent-text {
      font-size: 80%;
    }

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
    }

    svg {
      width: 1em;
    }
  }
  &:hover {
    h3 > a {
      color: $primary;
    }
    .k-button {
      color: white;
      background: $primary;
    }
  }
}

@media (min-width: $bp-xl) {
  .k-productcard {
    &--reviews ul {
      left: auto;
      right: 0;
      transform: translate(-1.5em, -50%);
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-productcard {
    &--reviews ul {
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
    }
  }
}
