.k-ctabanner {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -10;
    content: '';
  }
  .k-inner--xl {
    position: relative;
    border-radius: 0.75em;
    overflow: hidden;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: 0.33;
      z-index: -1;
      pointer-events: none;
      user-select: none;
    }
  }

  &--bgimg {
    @include fill-parent();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
  }

  &--content {
    color: $true-white;
    max-width: 40em;

    .k-inner {
      justify-content: center;
    }

    .k-preheading {
      color: $highlight;
    }
  }

  &--takeover {
    .k-button {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.k-cta--subscribe {
  margin: 5em 0 8em 0;

  .k-inner {
    border-radius: 0.75em;
  }
  .cta-subscribe-bg {
    background-image: url("../img/email-signup-cta.jpg");
    background-repeat: no-repeat;
  }
  .k-cta--preheading {
    color: $highlight;
  }
}

@media (min-width: $bp-sm) {
  .k-ctabanner--takeover {
    .k-button {
      display: block;
    }
  }
}

@media (min-width: $bp-md) {
  .k-ctabanner {
    .k-inner--xl {
      &:before {
        display: none;
      }
    }

    &--takeover {
      text-align: center;

      .k-ctabanner--bgimg {
        background-position: bottom center;
      }

      .k-ctabanner--content {
        width: 90%;
        max-width: 54em;
        margin: auto;
        padding: $padding-lg 0 $padding-sm 0;
      }

      .k-button {
        display: inline-block;
        margin-bottom: 0;

        &:last-child {
          margin-left: 0.5em;
        }
      }
    }
  }

  .k-cta--subscribe {
    text-align: center;

    &--headline {
      flex-basis: 100%;
    }

    .k-cta--content {
      width: 100%;
    }

    .k-cta--preheading,
    .k-headline,
    .k-button {
      margin: auto;
    }

    .k-cta--preheading {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
    }

    .k-headline {
      margin-bottom: 1em;
      max-width: 75%;
    }
  }
}

@media (min-width: $bp-lg) {
  .k-cta--subscribe {
    .k-headline {
      margin-bottom: 1em;
      max-width: 50%;
    }
  }
}

@media (min-width: $bp-xl) {
  .k-ctabanner {
    &--takeover {
      .k-ctabanner--content {
        width: 70%;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-ctabanner {
    &--takeover {
      .k-ctabanner--content {
        padding: 25em 0 12em 0;
      }
    }
  }
}
