.k-ctabanner {
  position: relative;

  .k-inner--xl {
    position: relative;
    border-radius: .75em;
    overflow: hidden;

    &:before {
      display: block; content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: $black;
      opacity: .33;
      z-index: -1;
      pointer-events: none;
      user-select: none;
    }
  }

  &--bgimg {
    @include fill-parent();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
  }

  &--content {
    color: $true-white;
    max-width: 40em;

    .k-preheading {
      color: $highlight;
    }
  }

  &--takeover {
    .k-button {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media(min-width: $bp-sm) {
  .k-ctabanner--takeover {
    .k-button {
      display: block;
    }
  }
}

@media(min-width: $bp-md) {
  .k-ctabanner {
    .k-inner--xl {
      &:before {
        display: none;
      }
    }

    &--takeover {
      text-align: center;

      .k-ctabanner--bgimg {
        background-position: bottom center;
      }

      .k-ctabanner--content {
        width: 90%;
        max-width: 54em;
        margin: auto;
        padding: $padding-lg 0 $padding-sm 0;
      }

      .k-button {
        display: inline-block;
        margin-bottom: 0;

        &:last-child {
          margin-left: .5em;
        }
      }
    }
  }
}

@media(min-width: $bp-xl) {
  .k-ctabanner {
    &--takeover {
      .k-ctabanner--content {
        width: 70%;
      }
    }
  }
}

@media(min-width: $bp-xxl) {
  .k-ctabanner {
    &--takeover {
      .k-ctabanner--content {
        padding: 25em 0 12em 0;
      }
    }
  }
}
