.k-searchtrigger {
  &:hover {
    cursor: pointer;
  }
}

.k-modal {
  & > .k-inner {
    position: relative;
  }

  &--search,
  &--cart {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -100;
    pointer-events: none;
    transition: opacity 0.4s $ease-out-quart;

    &.k-modal--open {
      opacity: 1;
      z-index: 100;
      pointer-events: all;
    }
  }

  &--scrollhint {
    position: absolute;
    top: 50%;
    right: -1.5em;
    text-align: center;
    transform: rotate(90deg) translateX(-50%);
    display: none; // JS will display this element if there's more than 1 item in the cart

    span {
      font-size: 200%;
      color: $highlight;
    }
  }

  &--close {
    position: absolute;
    top: 1em;
    right: 2em;
    color: $black;
    width: 100%;

    &__liner {
      position: relative;
    }

    .k-headline {
      position: absolute;
      top: 0;
      right: 0;
      transition: transform 0.4s $ease-out-circ;
    }

    &:hover {
      .k-headline {
        transform: scale(1.25);
      }
    }
  }
}

.k-modal--search {
  form {
    position: relative;
  }

  label,
  button {
    font-family: $heading-font;
    font-size: 200%;
  }

  input,
  button {
    color: $primary;
  }

  input {
    padding: 0.5em 0;
    font-family: $heading-font;
    font-size: 200%;

    &:focus {
      outline: none;

      & + label {
        transform: translateY(-100%);
      }
    }
  }

  label,
  button {
    position: absolute;
  }

  label {
    color: $true-white;
    top: 0;
    line-height: 2;
    transition: transform 0.2s $ease-out-circ;
  }

  button {
    top: 50%;
    right: 0;
    appearance: none;
    background: none;
    border: none;
    transform: translateY(-50%);
    padding-right: 0;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .k-modal--close {
    top: -3em;
    right: 0;
    color: $true-white;
  }
}
