.k-searchtrigger {
  &:hover {
    cursor: pointer;
  }
}

.k-modal {
  & > .k-inner {
    position: relative;
  }

  &--search,
  &--cart {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -100;
    pointer-events: none;
    transition: opacity 0.4s $ease-out-quart;

    &.k-modal--open {
      opacity: 1;
      z-index: 100;
      pointer-events: all;
    }
  }

  &--scrollhint {
    position: absolute;
    top: 50%;
    right: -1.5em;
    text-align: center;
    transform: rotate(90deg) translateX(-50%);
    display: none; // JS will display this element if there's more than 1 item in the cart

    span {
      font-size: 200%;
      color: $highlight;
    }
  }

  &--close {
    position: absolute;
    top: 1em;
    right: 2em;
    color: $black;
    width: 100%;

    &__liner {
      position: relative;
    }

    .k-headline {
      position: absolute;
      top: 0;
      right: 0;
      transition: transform 0.4s $ease-out-circ;
    }

    &:hover {
      .k-headline {
        transform: scale(1.25);
      }
    }
  }
}

.k-modal--search {
  form {
    position: relative;
  }

  label,
  button {
    font-family: $heading-font;
    font-size: 200%;
  }

  input,
  button {
    color: $primary;
  }

  input {
    padding: 0.5em 0;
    font-family: $heading-font;
    font-size: 200%;

    &:focus {
      outline: none;

      & + label {
        transform: translateY(-100%);
      }
    }
  }

  label,
  button {
    position: absolute;
  }

  label {
    color: $true-white;
    top: 0;
    line-height: 2;
    transition: transform 0.2s $ease-out-circ;
  }

  button {
    top: 50%;
    right: 0;
    appearance: none;
    background: none;
    border: none;
    transform: translateY(-50%);

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.k-modal--cart {
  .k-modal {
    &--content {
      background: $true-white;
      padding: 2em;
      border-radius: 0.5em;
      overflow: hidden;
    }

    &--placeholder {
      position: absolute;
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.4s $ease-out-circ, transform 0.4s $ease-out-circ;
    }
  }

  &.k-modal--loaded {
    .k-modal {
      &--placeholder {
        transform: translateX(100%);
        opacity: 0;
      }
    }

    .k-ajaxcart {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__actions {
    position: relative;
    padding-top: 1em;
    text-align: right;

    a {
      display: block;
      color: $black;

      span {
        color: $primary;
        font-weight: 700;
      }
    }

    .k-fade {
      position: absolute;
      top: -3em;
      left: -50%;
      width: 200%;
      height: 3em;
      // background: linear-gradient(to top, $true-white 5%, transparent 95%);
    }
  }
}

.k-ajaxcart {
  max-height: 50vh;
  overflow-y: scroll;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.4s $ease-out-quart, transform 0.4s $ease-out-circ;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  &--close:hover {
    cursor: pointer;
  }

  &--content {
    height: 400px;

    * {
      margin: 0;
    }
  }

  &--item {
    &:last-child {
      .k-ajaxcart--item__liner {
        border-bottom: 0;
      }
    }

    &__liner {
      padding: 2em 2em 2em 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;

      * {
        margin-bottom: 1em;
        pointer-events: none;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    img {
      flex-basis: 25%;
      max-width: 25%;
      display: block;
    }

    h3 {
      flex-basis: 70%;
      text-align: right;
    }

    p {
      flex-basis: 50%;
    }

    .k-bigtext {
      font-size: 140%;
      line-height: 1;
      text-align: right;
    }
  }
}

@media (min-width: $bp-sm) {
  .k-modal--cart__actions {
    .k-fade {
      position: absolute;
      top: -10em;
      height: 10em;
    }
  }

  .k-ajaxcart {
    &--item {
      &__liner {
        padding: 4em 2em 4em 0;
        flex-flow: row nowrap;
        align-items: center;

        * {
          margin-bottom: 0;
        }
      }

      img {
        flex-basis: 10%;
        max-width: 10%;
        margin-right: 5%;
      }

      h3 {
        flex-basis: 25%;
        text-align: left;
      }

      p {
        flex-basis: 25%;
        text-align: right;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .k-modal--cart {
    .k-modal {
      &--content {
        padding: 4em 3em;
      }
    }
  }

  .k-ajaxcart--close {
    right: 3em;
  }
}
