.k-searchtrigger {
  &:hover {
    cursor: pointer;
  }
}

.k-modal {
  & > .k-inner {
    position: relative;
  }

  &--search,
  &--cart {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -100;
    pointer-events: none;
    transition: opacity 0.4s $ease-out-quart;

    &.k-modal--open {
      opacity: 1;
      z-index: 100;
      pointer-events: all;
    }
  }

  &--scrollhint {
    position: absolute;
    top: 50%;
    right: -1.5em;
    text-align: center;
    transform: rotate(90deg) translateX(-50%);
    display: none; // JS will display this element if there's more than 1 item in the cart

    span {
      font-size: 200%;
      color: $highlight;
    }
  }

  &--close {
    position: absolute;
    top: 1em;
    right: 2em;
    color: $black;
    width: 100%;

    &__liner {
      position: relative;
    }

    .k-headline {
      position: absolute;
      top: 0;
      right: 0;
      transition: transform 0.4s $ease-out-circ;
    }

    &:hover {
      .k-headline {
        transform: scale(1.25);
      }
    }
  }
}

.k-modal--search {
  form {
    position: relative;
  }

  label,
  button {
    font-family: $heading-font;
    font-size: 200%;
  }

  input,
  button {
    color: $primary;
  }

  input {
    padding: 0.5em 0;
    font-family: $heading-font;
    font-size: 200%;

    &:focus {
      outline: none;

      & + label {
        transform: translateY(-100%);
      }
    }
  }

  label,
  button {
    position: absolute;
  }

  label {
    color: $true-white;
    top: 0;
    line-height: 2;
    transition: transform 0.2s $ease-out-circ;
  }

  button {
    top: 50%;
    right: 0;
    appearance: none;
    background: none;
    border: none;
    transform: translateY(-50%);
    padding-right: 0;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .k-modal--close {
    top: -3em;
    right: 0;
    color: $true-white;
  }
}

.k-modal--review {
  position: fixed;
  top: 10em;
  left: 50%;
  transform: translate(-50%, 150%);
  transition: transform 0.4s $ease-out-circ, opacity 0.4s $ease-out-circ;
  width: 90%;
  max-width: 32em;
  max-height: 60vh;
  overflow-y: scroll;
  z-index: -100;
  border-radius: 0.33em;
  pointer-events: none;
  opacity: 0;

  &.k-modal--open {
    z-index: 100;
    transform: translate(-50%, 0);
    opacity: 1;
    pointer-events: all;
  }

  &.k-modal--submitting,
  &.k-modal--success {
    .k-form {
      opacity: 0;
    }
  }

  &.k-modal--success {
    .k-form {
      height: 0;
    }

    .k-modal__successmsg {
      opacity: 1;
    }
  }

  .k-modal__successmsg {
    position: absolute;
    bottom: 2em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s $ease-out-circ;

    p {
      margin: 0;
    }
  }

  .k-modal--content {
    background: $true-white;
    padding: 3em 2em;
    position: relative;
  }

  .k-modal__close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-family: $heading-font;
    font-size: 200%;
    margin: 0;
    line-height: 1;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }

  .k-headline {
    margin: 0;
  }

  .k-review__producttitle {
    margin-top: 0;
    font-style: italic;
    color: $primary;
  }

  .k-review__rating {
    p {
      margin-bottom: 0;
      font-weight: 500;
    }
  }

  .k-form {
    transition: opacity 0.4s $ease-out-circ, height 0.4s $ease-out-circ;
    opacity: 1;

    &__group {
      margin-bottom: 1em;

      &--textarea {
        label {
          margin-bottom: 0.25em;
        }

        textarea {
          margin-top: 0;
        }
      }
    }

    &__actions {
      margin-top: 2em;

      .k-button {
        width: 100%;
      }
    }
  }

  .k-review__ratingitem {
    &:last-child {
      margin-top: 0.33em;
    }
  }

  .k-input {
    & + label {
      position: absolute;
      top: 1em;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    border: none;
    border-radius: 0.33em;
    -webkit-appearance: none;
    background: $bg-gray;

    &:focus {
      outline: none;
    }
  }
}

@media (min-width: $bp-md) {
  .k-modal--review {
    width: 60%;
    top: 15em;
  }
}
