.k-cta {
  &--subscribe {
    .k-cta--content {
      margin: 0 auto;
    }
  }

  &--fading {
    transition: opacity 0.75s ease-out;
    opacity: 0;
  }

  &__subscribe-content {
    flex-basis: 100%;
  }

  &__form-container {
    display: none;
    width: 100%;
    opacity: 0;
    transition: opacity 0.75s ease-in;

    &--open {
      opacity: 1;
    }

    .k-inner {
      justify-content: center !important;
    }

    form {
      min-width: 50%;
    }

    fieldset {
      text-align: left;
      margin-bottom: 1em;

      &:last-of-type {
        margin-bottom: 2em;
      }
    }

    label {
      color: $true-white;
    }

    input {
      color: $true-white;
    }
  }
}

@media (min-width: $bp-lg) {
  .k-cta {
    &__form-container {
      form {
        min-width: 33%;
      }
    }
  }
}
