/*
* Note: this module was originally for displaying videos, but is no longer the case.
* It's a little tricky to rename the classes at this point, so the filename has updated,
* but not any of the CSS classes.
*/
.k-videogallery {
  .plyr {
    @include fill-parent();
    z-index: 1;
  }

  .k-play-button {
    z-index: 3;
  }

  &.video-playing {
    .k-videogallery--video {
      .k-figure {
        opacity: 0;
      }

      &:after {
        opacity: 0 !important;
      }
    }

    .k-play-button {
      opacity: 0;
      display: none;
    }
  }

  > .k-inner {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
  }

  &--item {
    flex-basis: 100%;
    margin-bottom: 2em;
  }

  &--title {
    order: 1;

    .k-headline {
      margin-top: 0;
    }
  }

  &--video {
    order: 2;
    position: relative;
    border-radius: 0.667em;
    overflow: hidden;

    .k-figure {
      z-index: 2;

      &--liner {
        padding-bottom: 62.5%;
      }
    }
  }

  &__iconrow {
    > .k-inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    &__item {
      text-align: center;
      flex-basis: 49%;
      margin-bottom: 2em;

      &:hover {
        p {
          color: $primary;
        }
      }

      p {
        margin-top: 2em;
        line-height: 1.1;
        color: $black;
      }
    }
  }

  &__icon {
    position: relative;
    margin: auto;
    width: 66.67%;

    &:before {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 2.5em;
      height: 2.5em;
      transform: translateX(-50%);
      border-radius: 50%;
      background: $bg-gray;
      transition: transform 1s $ease-out-circ, background 1s $ease-out-circ;
    }
  }

  &--actions {
    order: 1;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 0;

    &__icon {
      position: relative;
      margin: auto;
      max-width: 1em;

      .koi-svg {
        width: 1em;
      }

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3.5em;
        height: 3.5em;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: $bg-gray;
        transition: transform 1s $ease-out-circ, background 1s $ease-out-circ;
      }

      path {
        fill: $black;
      }
    }
  }

  &--description {
    order: 2;

    p {
      margin: 0 0 2em 0;
    }
  }
}

@media (min-width: $bp-md) {
  .k-videogallery {
    &__iconrow {
      &__item {
        flex-basis: 32%;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .k-videogallery {
    &__iconrow {
      &__item {
        flex-basis: 16%;

        svg {
          width: 300%;
          height: 300%;
          transform: translate(-25%, -25%);
        }

        .k-videogallery--actions {
          &__title {
            margin-top: 3em;
          }

          &__icon:before {
            width: 1.5em;
            height: 1.5em;
          }
        }
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .k-videogallery {
    > .k-inner {
      justify-content: space-between;
      align-items: flex-start;
    }

    &--item {
      flex-basis: 48.5%;
      order: 1;
    }

    &--title,
    &--video {
      margin-bottom: $padding-xs;
    }

    &__iconrow {
      &__item {
        position: relative;
      }
    }

    &--actions {
      flex-flow: row wrap;

      &__item {
        border: 0;
        height: auto;
        flex-basis: 48.5%;
        position: relative;
        margin-bottom: 4em;

        &.active {
          .k-videogallery--actions__icon {
            &:before {
              background: $highlight;
              transform: translateY(-50%) scale(1.5);
            }
          }
        }

        &:hover {
          .k-videogallery--actions__icon {
            &:before {
              transform: translateY(-50%) scale(1.5);
            }
          }
        }
      }
    }

    &--description {
      position: relative;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: -3em;
        left: 0;
        width: 50%;
        height: 1px;
        background: $highlight;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-videogallery {
    &--title,
    &--video {
      margin-bottom: $padding-sm;
    }

    &--title {
      flex-basis: 35%;
    }

    &--video,
    &--description {
      flex-basis: 45%;
    }

    &--description {
      &:before {
        top: -3em;
        width: 42.5%;
      }
    }
  }
}
.k-videogallery.video-playing .k-videogallery--video .k-figure {
  pointer-events: none;
}
