.k-producthero {
  .k-inner--xl {
    background: $bg-gray;
    border-radius: .5em;
  }

  &--gallery {
    padding-top: 2em;
  }

  &--slide {
    width: 100%;

    .k-figure {
      &--liner {
        padding-bottom: 100%;
      }
    }
  }

  &--reviews {
    p, div {
      display: inline-block;
    }
  }

  &--details {
    &__content {
      padding: 2em 1em;
    }
  }
}

.k-productform {
  &--liner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &--bundle {
    .k-productform {
      &--bundleselect {
        flex-basis: 100%;
      }

      &--submit,
      &--price {
        flex-basis: 50%;
      }

      &--price {
        order: 2;
      }
    }
  }

  &--heading {
    margin-bottom: .5em;
  }

  &--variants {
    flex-basis: 100%;

    input[type="radio"] {
      position: absolute;
      visibility: hidden;
  
      & + label {
        position: relative;
        display: block;
        border: 1px solid #ccc;
        border-radius: .25em;
        color: #ccc;
        text-align: center;
        padding: .667em 1.15em;
        transition: color .4s $ease-out-circ;
        overflow: hidden;
  
        &:hover {
          cursor: pointer;
        }
  
        span {
          position: relative;
          z-index: 2;
          pointer-events: none;
        }
        
        &:after {
          display: block; content: '';
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          background: $bg-dark;
          transition: transform .4s $ease-out-circ;
          transform: scale(1, 0);
          transform-origin: bottom center;
          pointer-events: none;
          user-select: none;
        }
      }
  
      &.selected,
      &:checked {
        & + label {
          color: $true-white;
  
          &:after {
            transition: transform .2s $ease-out-circ;
            transform: scale(1, 1);
            transform-origin: top center;
          }
        }
      }
    }
  }

  &--variantselect {
    position: relative;
    display: block;
    margin-bottom: .5em;

    &:hover {
      cursor: pointer;
    }
  }

  &--quantity,
  &--price {
    display: inline-block;
    width: 48.5%;
  }

  &--quantity {
    position: relative;
    margin-top: .5em;

    input[type="number"] {
      appearance: none;
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-weight: 500;
      padding: 1.25em 3em;
      border: 1px solid $bg-dark;
      border-radius: .25em;
      box-shadow: none;
      background: $true-white;
      outline: none;
    }

    .k-reduce,
    .k-increase {
      position: absolute;
      top: 50%; left: .5em;
      transform: translateY(-50%);
      appearance: none;
      background: none;
      border: none;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }
    }

    .k-increase {
      right: .5em;
      left: auto;
    }
  }

  &--price {
    text-align: right;
    position: relative;

    p {
      margin: 0;
      font-size: 2em;
    }

    sup {
      position: absolute;
      top: 0; right: 0;
      text-decoration: line-through;
      font-size: 50%;
      color: $primary;
    }
  }

  &--submit {
    order: 2;
    flex-basis: 100%;
    margin-top: 1em;

    .k-button {
      width: 100%;
    }
  }
}

.k-productform--bundleselect {
  &__item {
    position: relative;
    margin-bottom: 1em;

    input,
    label {
      display: inline-block;
      min-width: auto;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      margin-right: 1em;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--drawer {
      height: 0;
      overflow: hidden;
      transition: height .2s $ease-out-circ;

      .k-productform--bundleselect__variant {
        margin-bottom: .5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    visibility: hidden;

    & + label {
      position: relative;
      display: block;
      border: 1px solid #ccc;
      border-radius: .25em;
      color: #ccc;
      text-align: center;
      padding: .667em 1.15em;
      transition: color .4s $ease-out-circ;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      span {
        position: relative;
        z-index: 2;
        pointer-events: none;
      }
      
      &:after {
        display: block; content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: $bg-dark;
        transition: transform .4s $ease-out-circ;
        transform: scale(1, 0);
        transform-origin: bottom center;
        pointer-events: none;
        user-select: none;
      }
    }

    &.selected,
    &:checked {
      & + label {
        color: $true-white;

        &:after {
          transition: transform .2s $ease-out-circ;
          transform: scale(1, 1);
          transform-origin: top center;
        }
      }
    }
  }
}

@media(min-width: $bp-sm) {
  .k-producthero {
    &--details {
      &__content {
        padding: 2em;
      }
    }
  }

  .k-productform {
    &--item {
      order: 1 !important;
    }

    &--quantity,
    &--price,
    &--submit {
      margin-top: .5em;
    }

    &--quantity,
    &--price {
      flex-basis: 25%;
    }

    &--submit {
      flex-basis: 40%;
    }
  }
  
  .k-productform--bundleselect {
    &__item {
      &--flex {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 1em 0;

        .k-productform--bundleselect__variant {
          flex-basis: 23.5%;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media(min-width: $bp-md) {
  .k-productform {
    &--variants {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
    }

    &--variantselect {
      flex-basis: 23.5%;
    }

    &--quantity,
    &--submit,
    &--price {
      margin-top: 2em;
    }

    &--quantity {
      flex-basis: 15%;
      margin-right: 10%;
    }

    &--submit {
      flex-basis: 50%;
    }

    &--quantity {
      input[type="number"] {
        padding: 1.25em 0;
      }
    }
  }
}

@media(min-width: $bp-lg) {
  .k-producthero {
    .k-inner {
      @include clearfix();
      padding: 4em 5%;
    }

    &--gallery,
    &--details {
      float: left;
    }

    &--gallery {
      width: 40%;
      margin-right: 5%;
      padding: 0;
    }

    &--details {
      width: 50%;

      &__content {
        padding: 0;
      }
    }
  }

  .k-productform {
    &--quantity {
      flex-basis: 20%;
      margin-right: 0;
    }

    &--submit {
      flex-basis: 45%;
    }

    &--price {
      flex-basis: 20%;
    }
  }
}

@media(min-width: $bp-xxl) {
  .k-producthero {
    .k-inner {
      padding: 8em 5%;
    }

    &--gallery {
      margin-right: 15%;
    }

    &--details {
      width: 45%;
    }

    .k-rte-content,
    .k-productform {
      width: 75%;
    }
  }
  
  .k-productform {
    &--variantselect {
      flex-basis: 22.5%;
    }
  }
}
