.k-promoslider {
  & > .k-inner {
    position: relative;
  }

  &--titlerow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2em;

    * {
      margin: 0;
    }

    a {
      color: $black;
    }

    &__item {
      &:nth-child(1),
      &:nth-child(3) {
        order: 1;
        margin-bottom: 1em;
      }

      &:nth-child(2) {
        order: 2;
      }
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 5;
    pointer-events: none;

    svg {
      pointer-events: all;
      fill: transparent;
      stroke: $primary;

      &:last-child {
        float: right;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .k-productcard {
    width: 100%; // DEPENDENCY: promo-slider.js:61, promo-slider.js:65
    padding-bottom: 2em;
    bottom: 0 !important;

    &--liner {
      padding-right: 1.5em;
    }
  }
}

@media (min-width: $bp-sm) {
  .k-promoslider {
    &--titlerow {
      flex-flow: row nowrap;
      text-align: center;

      span,
      a {
        font-size: 80%;
      }

      &__item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          order: 1;
          margin-bottom: 0;
        }

        &:nth-child(1),
        &:nth-child(2) {
          flex-basis: 15%;
        }

        &:nth-child(2) {
          flex-basis: 60%;
        }
      }
    }
  }
}

@media (min-width: $bp-md) {
  .k-promoslider {
    .k-productcard {
      width: 50%; // DEPENDENCY: promo-slider.js:69
    }

    &__controls {
      left: -5%;
      width: 110%;
    }
  }
}

@media (min-width: $bp-lg) {
  .k-promoslider {
    &--titlerow {
      margin-bottom: 4em;
    }

    .k-productcard {
      width: 33.3333%; // DEPENDENCY: promo-slider.js:73
    }
  }
}

@media (min-width: $bp-xl) {
  .k-promoslider {
    &--titlerow {
      margin-bottom: $padding-sm;
      align-items: flex-end;

      span,
      a {
        font-size: 100%;
      }

      &__item {
        &:nth-child(1),
        &:nth-child(2) {
          flex-basis: 10%;
        }

        &:nth-child(2) {
          flex-basis: 70%;
        }
      }
    }

    .k-productcard {
      width: 25%; // DEPENDENCY: promo-slider.js:77
    }

    &__controls {
      width: 115%;
      left: -7.5%;
    }
  }
}
