.k-productlisting {
  .k-productcard {
    margin-bottom: 4em;
  }
}

@media (min-width: $bp-md) {
  .k-productlisting {
    .k-inner {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      align-items: flex-end;
    }

    .k-productcard {
      flex-basis: 48.5%;
      margin-right: 0.75%;
      margin-bottom: 6em;
    }
  }
}

@media (min-width: $bp-xl) {
  .k-productlisting {
    .k-productcard {
      flex-basis: 32%;
      margin-right: 1%;
    }
  }
}
