.k-latestbatch {
  &--title {
    .k-headline {
      margin-top: 0;
    }
  }

  &__intro {
    margin-bottom: 2em;
  }

  &__intro-left {
    flex-basis: 46%;
    margin-bottom: 2em;
    .k-figure--liner {
      padding-bottom: 92.85%;
    }
  }

  &__intro-right {
    flex-basis: 48%;
  }

  &__description {
    margin-bottom: 2em;
  }

  &__icon-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;

    .k-figure--liner {
      padding-bottom: 100%;
    }
  }

  &__icon-title,
  &__icon-text {
    p {
      margin: 0;
    }
  }

  &__icon-image {
    width: 50%;
  }

  &__icon-description sup {
    top: -0.45em;
  }

  &__icon-text p {
    font-size: 80%;
  }

  &--tabs {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    border-bottom: 1px solid $accent-text;

    &:hover {
      cursor: pointer;
    }

    &__tab {
      flex-basis: 25%;
      text-align: center;
      border-top: 1px solid $accent-text;
      border-right: 1px solid $accent-text;
      padding: 0.5em 0;
      transition: background-color 0.4s $ease-out-circ;

      span {
        display: block;
        font-size: 75%;
        color: $accent-text;
      }

      &.active {
        background: $bg-dark;

        span {
          color: $true-white;
        }
      }

      &:first-child,
      &:nth-child(5),
      &:nth-child(9),
      &:nth-child(13) {
        border-left: 1px solid $accent-text;
      }
    }
  }

  &__results-column {
    flex-basis: 100%;
    border-bottom: 1px solid $accent-text;
    padding: 1em 0;

    &:first-child {
      padding-top: 0;
    }

    &:nth-child(3) {
      p {
        font-size: 200%;
        font-weight: 300;

        .k-measurement {
          font-size: 0.5em;
          vertical-align: text-top;
        }
      }
    }

    &:last-child {
      #k-coaurl {
        display: block;
        padding: 1.25em 0;
        border-bottom: 0;
        text-align: center;
        background: red;
        color: $true-white;
        transition: background 0.4s $ease-out-circ;
        border-radius: 0.33em;
        &:hover {
          color: $true-white !important;
          background: darken(red, 5%);
        }
      }

      .k-accent-text {
        display: block;
        text-align: center;
        font-size: 90%;
        margin-top: 1em;
        &:hover {
          text-decoration: underline;
          color: $black !important;
        }
      }
    }

    div {
      &:first-child {
        margin-bottom: 1em;
      }
    }

    p {
      margin: 0;
    }
  }

  &__results-liner {
    background: $bg-gray-light;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;

    &--error {
      h1 {
        flex-basis: 100%;
      }

      p {
        flex-basis: 100%;
      }
    }
  }

  &--strength,
  &--size,
  &--batch {
    line-height: 1.75;
  }
}

@media (min-width: $bp-sm) {
  .k-latestbatch {
    &--tabs {
      &__tab {
        padding: 1em;

        span {
          font-size: 100%;
        }
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .k-latestbatch {
    &__intro {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
    }

    &__intro-left {
      margin-bottom: 0;
    }

    &__icon-row {
      flex-flow: row nowrap;
    }
    &__icon {
      width: 30%;
      flex-basis: 30%;
      margin-bottom: 0;
    }

    &__icon-image {
      width: 100%;
    }

    &__description {
      p:first-child {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .k-latestbatch {
    &--tabs {
      border-bottom: none;
    }

    &__results-column {
      border: none;
      padding: 0;

      &:first-child {
        flex-basis: 36.5%;
      }

      &:nth-child(2) {
        flex-basis: 16.5%;
        margin: 0 auto;
        padding-left: 2em;
      }

      &:nth-child(3) {
        flex-basis: 26.15%;

        p:first-child {
          margin-bottom: 0.5em;
        }
      }
    }

    &__results-liner {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 3.75em;

      &--error {
        flex-flow: row wrap;
      }
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-latestbatch {
    &__results-liner {
      padding: 4em;
    }
  }
}
