.k-productreviews {
  &--title {
    .k-headline {
      margin: 0;
    }
  }

  &--main {
    a {
      color: $primary;

      &:hover {
        color: $primary-dark;
      }
    }
  }

  &__pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding: 1em 0;

    li.active {
      position: relative;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2em;
        height: 2em;
        background: $bg-gray;
        border-radius: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
      }
    }

    a:hover {
      color: $primary-dark !important;
      text-decoration: underline;
    }
  }
}

.k-review {
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }

  * {
    margin: 0;
  }

  &--liner {
    padding: 3em 0;
  }

  &--title {
    margin-bottom: 1em;

    h3 {
      font-family: $body-font;
    }
  }

  &__gold-star {
    padding: 0.5em 0;
  }

  &--body {
    margin-bottom: 2em;
  }

  &--meta,
  &--actions {
    p {
      color: $accent-text;
    }
  }

  &--meta {
    margin-bottom: 1em;
  }

  &--actions {
    &__item {
      display: inline-block;

      .k-arrow {
        circle,
        polyline,
        line {
          stroke: #cccccc;
        }
        &:hover {
          cursor: pointer;

          circle,
          polyline,
          line {
            stroke: $primary;
          }
        }

        &--voted {
          circle,
          polyline,
          line {
            stroke: $primary;
          }
        }
      }

      * {
        display: inline-block;
        vertical-align: middle;
      }

      .k-arrow {
        margin-right: 0.5em;
      }

      &:first-child {
        margin-right: 2em;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .k-productreviews {
    .k-inner {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
    }

    .k-review {
      &:first-child {
        margin-top: 1em;

        .k-review--liner {
          padding-top: 0;
        }
      }

      &:last-child {
        .k-review--liner {
          padding-bottom: 0;
        }
      }
    }

    &--title {
      flex-basis: 25%;
    }

    &--main {
      flex-basis: 62.5%;
    }
  }
}
