.summary.entry-summary {
  .price {
    color: $primary !important;
  }
  button[type='submit'] {
    font-weight: 400;
    text-transform: capitalize;
  }
}

.woocommerce-product-gallery__wrapper a {
  cursor: default;
}

form.cart {
  button[type='submit'] {
    @extend .k-button;
    padding: 1.425em 1.15em !important;
    background-color: $primary !important;
    border-color: $primary !important;
    border-radius: 0.4em !important;

    &:hover {
      background-color: darken($primary, 15%) !important;
      border-color: darken($primary, 15%) !important;
    }
  }

  select {
    position: relative;
    width: 100% !important;
    padding: 1.0125em 1.15em;
    border: 1px solid #dedede;
    border-radius: 0.25em !important;
    margin-top: 0;
    width: 100%;
    text-overflow: ellipsis;
    &:hover {
      cursor: pointer;
    }
  }

  .variations .label {
    margin-bottom: 1em;
  }

  .variations {
    label {
      text-transform: uppercase;
      font-weight: 400 !important;

      abbr {
        font-weight: bold;
      }
    }
  }

  .reset_variations {
    margin: 0.5em 0;
    padding-left: 1.67em;
    display: block !important;
    font-size: 1em;
    color: $black;

    &:hover {
      color: darken($black, 15%);
    }
  }

  .quantity,
  .single_add_to_cart_button {
    width: 48.5%;
  }

  .quantity {
    margin-right: 3% !important;

    input[type='number'] {
      appearance: none;
      width: 100%;
      text-align: center;
      font-weight: 500;
      border: 1px solid $bg-dark;
      border-radius: 0.25em;
      box-shadow: none;
      background: $true-white;
      outline: none;
    }
  }

  .woocommerce-variation.single_variation {
    text-align: right;
  }

  .woocommerce-variation-price {
    margin-bottom: 0.75em;
    font-size: 125%;
  }
}

.k-productform {
  &__options {
    label {
      margin-bottom: 1em;
    }
  }

  &__pricelabel {
    margin: 0;
  }

  &__select-container {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 1em;
      top: 50%;
      border-top: 0.5em solid $primary;
      border-right: 0.5em solid transparent;
      border-bottom: 0.5em solid transparent;
      border-left: 0.5em solid transparent;
      transform: translateY(-0.25em);
    }

    &.selected {
      select {
        padding-right: 2.3em;
      }
      &::after {
        border-top: 0.5em solid rgba($true-black, 0.25);
      }
    }
  }
}
