.k-footer {
  position: relative;

  &--top .k-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &--bottom .k-inner {
    padding: 2em 0;
    border-top: 1px solid #cccccc;
  }

  &--bgimg {
    @include fill-parent();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    z-index: -1;
  }

  &--logo {
    flex-basis: 100%;

    .k-figure {
      margin-bottom: 1em;
      max-width: 8.75em;

      &--liner {
        padding-bottom: 110.42%;
      }
    }
  }

  &--social {
    a {
      display: block;
    }
  }

  &--links {
    flex-basis: 100%;
    text-align: right;

    &__item {
      margin-bottom: 1em;
    }

    h4 {
      font-family: $body-font;
      margin: 0 0 1em 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    a {
      text-decoration: none !important;
      position: relative;
      &:after {
        position: absolute;
        right: calc(100% + 0.5em);
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 0;
        content: '';
        background: black;
        transition: all 0.3s ease;
      }
      &:hover {
        &:after {
          height: 100%;
        }
      }
    }
  }

  &--badges {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .k-figure {
      position: relative;
      flex-basis: 33%;
      max-width: 6.25em;

      &--liner {
        padding-bottom: 100%;
      }

      img {
        @include fill-parent();
      }
    }
  }

  &--disclaimer {
    border: 1px solid $black;
    padding: 1em;

    p {
      margin: 0;
      font-size: 80%;
    }
  }
}

@media (min-width: $bp-md) {
  .k-footer {
    &--links {
      text-align: left;
    }

    &--badges {
      flex-basis: 50%;
      margin-top: -5em;
    }

    &--bottom {
      .k-inner {
        display: flex;
        flex-flow: row wrap;
      }
    }

    &--copy,
    &--disclaimer {
      text-align: center;
      flex-basis: 100%;
    }

    &--copy {
      margin-bottom: 2em;
    }
  }
}

@media (min-width: $bp-lg) {
  .k-footer {
    &--top .k-inner {
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &--logo {
      flex-basis: 25%;
    }

    &--links {
      flex-basis: 50%;
      display: flex;
      justify-content: space-between;

      &__item {
        flex-basis: 31%;
      }
    }

    &--badges {
      flex-basis: 20%;
      margin-top: 0;
    }

    &--copy,
    &--disclaimer p {
      font-size: 80%;
    }
  }
}
