.k-testimonialslider {
  &--slide {
    text-align: center;
    width: 100%;
    margin-right: 2em;

    .k-figure {
      max-width: 8.05em;
      margin: auto;

      &--liner {
        padding-bottom: 100%;
      }
    }
  }

  &--cite {
    margin-bottom: 0;
  }

  .flickity-page-dots {
    bottom: -4em;
  }
}

@media (min-width: $bp-xl) {
  .k-testimonialslider {
    &--slide .k-headline--sm {
      font-size: 2em;
    }
  }
}

@media (min-width: $bp-xxl) {
  .k-testimonialslider {
    &--slide .k-headline--sm {
      font-size: 2.4em;
    }
  }
}
