.list {
  &-head {
    display: flex;
    font-size: .8em;
    padding-bottom: .5em;
    color: #444;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    text-transform: uppercase;
    &-item {
      flex: 1;
      font-weight: bold;
    }
  }
  &-body {
    margin-top: .5em;
    p {
      color: hsl(0, 0%, 30%);
    }
  }
  &-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 85%);
    padding: .25em 0;
    font-size: .9em;
    color: hsl(0, 0%, 40%);
    &-item {
      flex: 1;
    }
    &:last-child {
      border-bottom: none;
    }
    span {
      text-transform: uppercase;
    }
  }
}