@media (min-width: $bp-md) {
  .k-all-products {
    .k-inner {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
    }

    .k-productcard {
      flex-basis: 48.5%;
      margin-right: 0.75%;
      margin-bottom: 2em;
    }
  }
}

@media (min-width: $bp-xl) {
  .k-all-products {
    .k-productcard {
      flex-basis: 32%;
      margin-right: 1%;
    }
  }
}
