.k-bloglist {
  .k-articlecard {
    margin-bottom: 3em;
  }

  &__pagination {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
    }

    li {
      position: relative;
      display: inline-block;
      margin: 0 1em;

      &.active {
        a {
          color: $true-white;

          &:hover {
            color: $true-white !important;

            &:before {
              background: $primary-dark;
            }
          }
        }

        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          height: 2em;
          width: 2em;
          background: $primary;
          z-index: -1;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }

    a {
      color: $black;
    }
  }
}

.k-blognav {
  position: relative;

  &--filterby {
    position: absolute;
    top: 5em;
    right: unset;
    left: 5%;
    text-align: right;
  }

  @media all and (min-width: 600px) {
    &--filterby {
      position: absolute;
      top: 1em;
      right: 5%;
      left: unset;
      text-align: right;
    }
  }

  select {
    -webkit-appearance: none;
    background: none;
    border: none;
    -ms-expand: none;
    width: auto;
    min-width: auto;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;

      color: $primary;
    }
  }
}

@media (min-width: $bp-md) {
  .k-bloglist {
    .k-inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-flow: row wrap;
    }

    .k-articlecard {
      flex-basis: 48.5%;
    }
  }

  .k-blognav {
    &--filterby {
      right: 12.5%;
    }
  }
}

@media (min-width: $bp-lg) {
  .k-bloglist {
    .k-inner {
      justify-content: flex-start;
    }

    .k-articlecard {
      flex-basis: 31.5%;
      margin-right: 1.33%;
    }
  }
}
