.k-checkout {
  &__headline {
    padding: 4em 0;

    h1 {
      margin-top: 0;
    }
  }

  &__forms {
    border-top: 0.25em solid $primary;
    box-shadow: 0 0 5px #dedede;

    & > .k-liner {
      padding: 1em 2em;
      background: $true-white;
    }
  }
}

.page-template-page-checkout {
  background: $bg-gray;

  #ship-to-different-address {
    input,
    span {
      display: inline-block;
    }

    input {
      margin-right: 1em;
    }
  }

  .k-form--columns {
    &__col {
      background: $true-white;
      padding: 1em;
      box-shadow: 0 0 2px -1px #222;
      margin-bottom: 2em;
    }

    input {
      &:focus {
        outline: none;
      }
    }
  }

  .k-checkout--shipping__header {
    margin-left: 2em;

    input,
    label {
      min-width: auto;
      display: inline-block;
      margin: 0;
      vertical-align: middle;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      margin-right: 1em;
    }

    label {
      user-select: none;
      font-weight: 400;
    }
  }

  .shipping_address {
    height: 0;
    overflow: hidden;
    transition: height 0.4s $ease-out-quart;
  }
}

.k-review-order {
  &--titlerow {
    display: flex;

    p {
      flex-basis: 50%;
      color: $primary;

      &:last-child {
        text-align: right;
      }
    }
  }

  &--item {
    display: flex;
    flex-flow: row wrap;
    padding: 2em 0;
    border-bottom: 1px solid #ddd;

    .product-name,
    .product-total {
      flex-basis: 50%;
    }

    .product-bundleditems {
      flex-basis: 100%;

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        padding: 1em;

        &:nth-child(odd) {
          background: $bg-gray;
        }

        a {
          color: $black;
          display: block;

          &:hover {
            color: $primary-dark !important;
          }
        }

        p {
          color: $primary;
          margin: 0;

          span {
            color: $black;
          }
        }

        sup {
          color: $black;
          padding-left: 1em;
        }
      }
    }

    .product-total {
      text-align: right;

      ul {
        list-style-type: none;
        padding: 0;
      }
    }
  }

  .product-quantity {
    color: $primary;
  }

  .k-bigtext {
    margin: 0;
    font-size: 125%;
  }

  .woocommerce-remove-coupon {
    color: $primary;
    font-size: 75%;
    vertical-align: super;

    &:hover {
      color: red !important;
    }
  }
}

.woocommerce-form-login-toggle {
  margin-bottom: 1em;

  a {
    color: $primary;

    &:hover {
      color: $primary-dark !important;
    }
  }
}

.wc_payment_methods.payment_methods {
  @include unstyle-list();
}

.woocommerce-checkout-payment {
  margin-top: $padding-sm;

  * {
    outline: none;
  }

  span {
    font-weight: 400;
  }

  input[type='text'],
  input[type='tel'] {
    padding-left: 1em;
  }

  .checkbox {
    input[type='checkbox'] {
      &:checked {
        & + .woocommerce-terms-and-conditions-checkbox-text:before {
          background: $primary;
        }
      }
    }

    .woocommerce-terms-and-conditions-checkbox-text {
      margin-left: 2em;
      position: relative;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -2em;
        width: 1em;
        height: 1em;
        border: 1px solid #ddd;
        background: $true-white;
        transition: background 0.4s $ease-out-circ;
      }
    }
  }
}

.k-payment-method-select {
  input,
  label {
    display: inline-block;
  }

  input {
    width: 2em;
  }

  label {
    min-width: auto;
  }
}

.woocommerce-checkout-review-order {
  border-top: 0.25em solid $primary;
  box-shadow: 0 0 5px #dedede;
  margin-top: 2em;
  background: $true-white;
  padding: 1em;
}

.woocommerce-terms-and-conditions-checkbox-text:hover {
  cursor: pointer;
}

@media (min-width: $bp-md) {
  .k-checkout {
    &__forms {
      & > .k-liner {
        padding: 4em 3em;
      }
    }

    &__billing,
    &__shipping {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
    }

    &__billing {
      padding-bottom: 4em;
      border-bottom: 1px solid #dedede;
    }

    &__shipping {
      margin-top: 4em;
      padding-top: 4em;
    }

    &__title {
      flex-basis: 40%;

      .k-liner {
        position: sticky;
        top: 10em;
      }

      h3 {
        margin: 0;
        line-height: 1.2;
      }
    }

    &__fields {
      flex-basis: 50%;

      .form-row {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.k-toggle-shipping {
  margin-top: 1em;
}

@media (min-width: $bp-lg) {
  .k-checkout {
  }

  .woocommerce-checkout-review-order {
    padding: 4em 3em;
  }
}

body.page-template-page-checkout {
  .k-header--nav,
  .k-header--top {
    display: none !important;
  }
  .k-header--logo {
    transform: scale(0.7) !important;
  }
}
