.page-template-page-checkout {
  #ship-to-different-address {
    input, span {
      display: inline-block;
    }

    input {
      margin-right: 1em;
    }
  }

  #billing {
    &_first_name_field,
    &_last_name_field {
      
    }
  }
}

@media(min-width: $bp-lg) {
  .k-checkout {
    .k-form--columns {
      @include clearfix();

      &__col {
        float: left;
        width: 45%;

        &:last-child {
          margin-left: 10%;
        }
      }
    }
  }
}
