.page-template-lab-results {
  // .k-latestbatch {
  //   &--tabs {
  //     &__tab {
  //       padding: 1em 0;
  //       cursor: pointer;
  //     }
  //   }

  //   &__results-liner {
  //     background: lighten($primary, 28%);
  //   }

  //   &__results-column {
  //     flex-basis: 100%;
  //     width: 100%;

  //     &:last-child #k-coaurl {
  //       width: 80%;
  //       border: none;
  //       border-radius: 0;
  //       background: $primary;
  //       margin: 0 auto;
  //     }
  //   }
  // }
}

.k-hero--labresults {
  h1.k-preheading {
    display: block;
    color: $highlight;
    margin-bottom: 0.5em;
    font-size: 100%;
    font-family: 'GT America', sans-serif;
  }

  .k-hero {
    &__main {
      padding: $padding-sm 0;
    }
  }
}

.k-recentresults {
  &__intro {
    text-align: center;
    margin-bottom: 2em;

    .k-headline {
      margin: 0;
    }
  }

  &__categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__category-button {
    flex-basis: 48%;
    color: $black;
    margin-bottom: 2em;

    span {
      font-size: 90%;
    }
  }

  &__spacer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  &__dot {
    width: 0.5em;
    height: 0.5em;
    margin: 0 1em;
    background: $accent-text;
    border-radius: 0.25em;
  }

  &__tab-append-target {
    display: flex;
  }
}

.k-labresults {
  &__spacer {
    max-width: 75%;
    margin: 0 auto;
    border-top: 1px solid $accent-text;
    border-radius: 0.5px;
  }

  &__searchform {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;

    .k-form {
      margin-bottom: 0;

      button[type='submit'] {
        margin-top: 0.5em;
        width: 100%;
        transform: scale(1.025);
      }

      input[type='text'] {
        font-size: 200%;
        font-family: $heading-font;
        padding: 0.25em;
        border-bottom: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__main {
    padding-top: 4em;

    .k-latestbatch__results {
      margin-bottom: 2em;
    }
  }

  .k-latestbatch--results {
    margin-bottom: 2em;
  }
}

@media (min-width: $bp-md) {
  .k-hero--labresults {
    .k-hero {
      &__main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: $padding-lg 0 $padding-sm;
      }

      &__heading {
        flex-basis: 40%;
        margin-right: 10%;

        .k-headline {
          margin: 0;
        }
      }

      &__body {
        flex-basis: 30%;
      }
    }
  }

  .k-recentresults {
    &__category-button span {
      font-size: 100%;
    }
  }

  .k-labresults {
    &__searchform {
      .k-form {
        &__content {
          position: relative;
          display: flex;
          border: 1px solid $accent-text;
          border-radius: 0.5em;
        }

        input[type='text'] {
          max-width: 75%;
          min-width: 75%;
          padding: 0 0 0 0.5em;
          border: none;
        }

        button[type='submit'] {
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .k-recentresults {
    &__category-button {
      flex-basis: 23.5%;
    }
  }
}

@media (min-width: $bp-xl) {
  .page-template-lab-results {
    // .k-latestbatch {
    //   &--tabs {
    //     &__tab {
    //       padding: 1em 0;
    //     }
    //   }

    //   &__results-liner {
    //     align-items: center;
    //   }

    //   &__results-column {
    //     width: auto;
    //     flex-basis: 25%;
    //     border-bottom: none;

    //     &:first-of-type {
    //       flex-basis: 14.6%;
    //     }

    //     &:nth-of-type(3) p {
    //       font-size: 150%;
    //     }
    //   }
    // }
  }

  .k-labresults {
    &__content {
      margin-bottom: 2em;

      .k-headline {
        margin-bottom: 0.5em;
      }

      .k-rte-content {
        max-width: 75%;
        margin: 0 auto;
      }
    }

    .k-form {
      max-width: 75%;
      margin: 0 auto 2em;
    }

    // .k-latestbatch--results {
    //   margin-bottom: 0;

    //   &__liner {
    //     background-color: $true-white;
    //     transition: background-color 0.4s $ease-out-circ;
    //     border-bottom: 1px solid #dedede;

    //     &:hover {
    //       background-color: $bg-gray-light;
    //     }
    //   }
    // }
  }
}

@media (min-width: $bp-xxl) {
  .page-template-lab-results {
    // .k-latestbatch {
    //   &__results-column:nth-of-type(3) p {
    //     font-size: 200%;
    //   }
    // }
  }
}
