.page-template-location-finder {
  .k-ctabanner,
  .k-footer {
    z-index: 99;
    background: $true-white;
  }
  .mapboxgl-popup-anchor-bottom {
    z-index: 99;
  }

  #lfe-root {
    position: relative;
    z-index: 1;
    form label {
      min-width: 0;
    }
  }
}
