.k-login {
  position: relative;

  &__bgimg {
    @include fill-parent();
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: none;
  }

  &__midimg {
    display: none;
  }

  &__forms {
    overflow: hidden;
    position: relative;

    .k-liner {
      width: 80%;
      margin: auto;
    }
  }

  &__form {
    transition: opacity 0.4s $ease-out-circ, transform 0.4s $ease-out-circ,
      height 0.4s $ease-out-circ;
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.is-visible {
      opacity: 1;
      height: auto;
      transform: translateY(0);
    }

    .woocommerce-form-row {
      margin-bottom: 2em;
    }
  }

  form {
    .form-row {
      position: relative;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      border-radius: 0;

      & + label {
        position: absolute;
        top: 1em;
        left: 0;
        font-weight: 400;
        color: $accent-text;
        transition: transform 0.2s $ease-out-circ;
      }

      &:focus {
        outline: none;

        & + label {
          transform: translateY(-100%);
        }
      }
    }

    input[type='checkbox'] {
      display: inline-block;
      vertical-align: middle;

      &:hover {
        cursor: pointer;
      }

      & + label {
        display: inline-block;
        min-width: auto;
        font-weight: 400;
        vertical-align: middle;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.k-dashboard {
  background: $bg-gray;

  &--main__liner,
  &--sidebar__liner {
    padding: 2em;
    background: $true-white;
    border-radius: 0.33em;
  }

  &--sidebar {
    margin-bottom: 2em;

    &__liner {
      position: relative;

      ul {
        position: relative;
        z-index: 2;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $black;
      font-family: $heading-font;
    }
  }
}

@media (min-width: $bp-lg) {
  .k-login {
    height: calc(100vh - 9.75em);
    padding: 0 !important;

    &__bgimg {
      display: block;
    }

    &__midimg {
      display: block;
      position: absolute;
      bottom: 2em;
      left: 48.6%; //  so that the image lines up "just right"
      transform: translateX(-50%);
      width: 20%;
      z-index: 3;

      .k-figure--liner {
        padding-bottom: 100%;
      }
    }

    &__forms {
      // top: -9.75em;
      position: absolute;
      width: 50%;
      height: 100%;
      background: $true-white;
      z-index: 2;

      .k-liner {
        position: relative;
        height: 100%;
        width: 66.67%;
        max-width: 27.5em;
      }
    }

    &__rememberme {
      margin-top: 2em !important;
    }

    &__form {
      position: absolute;
      width: 100%;
      top: 50%;

      &.is-visible {
        transform: translateY(-50%);
      }

      button[type='submit'] {
        margin: 2em 0 1em 0;
        width: 100%;
      }

      p {
        margin: 0 0 0.5em 0;
      }

      a {
        color: $accent-text;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .k-dashboard {
    & > .k-inner {
      display: flex;
      justify-content: space-between;
    }

    &--sidebar {
      flex-basis: 25%;
    }

    &--main {
      flex-basis: 70%;
    }
  }
}
