.k-login {
  position: relative;

  &__bgimg {
    @include fill-parent();
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: none;
    background-image: url('../img/generic-beach.jpg');
  }

  &__midimg {
    display: none;
  }

  &__forms {
    overflow: hidden;
    position: relative;

    .k-liner {
      width: 80%;
      margin: auto;
    }
  }

  &__form {
    transition: opacity 0.4s $ease-out-circ, transform 0.4s $ease-out-circ,
      height 0.4s $ease-out-circ;
    transform: translateY(-100%);
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.is-visible {
      opacity: 1;
      height: auto;
      transform: translateY(0);
    }

    .woocommerce-form-row {
      margin-bottom: 2em;
    }
  }

  form {
    .form-row {
      position: relative;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      border-radius: 0;

      & + label {
        position: absolute;
        top: 1em;
        left: 0;
        font-weight: 400;
        color: $accent-text;
        transition: transform 0.2s $ease-out-circ;
      }

      &:focus {
        outline: none;

        & + label {
          transform: translateY(-100%);
        }
      }
    }

    input[type='checkbox'] {
      display: inline-block;
      vertical-align: middle;

      &:hover {
        cursor: pointer;
      }

      & + label {
        display: inline-block;
        min-width: auto;
        font-weight: 400;
        vertical-align: middle;

        &:hover {
          cursor: pointer;
        }
      }
    }
    a {
      color: darken($accent-text, 15%);

      &:hover {
        color: $primary;
      }
    }
  }
}

.k-dashboard {
  background: $bg-gray;
  position: relative;
  & > .k-inner {
    display: flex;
    flex-direction: column-reverse;
  }

  &--main__liner,
  &--sidebar__liner {
    border-radius: 0.33em;
  }
  &--main__liner {
    .my-dashboard {
      background: $true-white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 2em;
      font-size: 1.1em;
      margin: 0 0 1em 0;
      border-radius: 0.33em;
      transition: box-shadow 0.5s ease;
      &:nth-child(2) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &:before {
          content: 'My Account';
          position: absolute;
          top: 5%;
          left: 5%;
        }
      }
      .k-button,
      .k-button--primary {
        padding: 0.3em 2em;
      }
      span {
        margin: 1em 0;
      }
      &:nth-child(3) {
        a {
          text-decoration: underline;
          color: $true-black;
          font-weight: 500;
        }
      }
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &--sidebar {
    margin: 2em 0;

    &__liner {
      position: relative;

      ul {
        position: relative;
        z-index: 2;
      }
      li {
        transition: box-shadow 0.5s ease;
        a {
          padding: 0.5em;
          background: white;
          border-radius: 0.33em;
          display: flex;
          justify-content: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          a {
            color: $primary;
          }
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $black;
      font-family: $heading-font;
    }
  }
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--payment-methods {
  display: none;
}

@media (min-width: $bp-lg) {
  .k-login {
    height: calc(100vh - 9.75em);
    padding: 0 !important;

    &__bgimg {
      display: block;
    }

    &__midimg {
      display: block;
      position: absolute;
      bottom: 2em;
      left: 48.6%; //  so that the image lines up "just right"
      transform: translateX(-50%);
      width: 20%;
      z-index: 3;

      .k-figure--liner {
        padding-bottom: 100%;
      }
    }

    &__forms {
      // top: -9.75em;
      position: absolute;
      width: 50%;
      height: 100%;
      background: $true-white;
      z-index: 2;

      .k-liner {
        position: relative;
        height: 100%;
        width: 66.67%;
        max-width: 27.5em;
      }
    }

    &__rememberme {
      margin-top: 2em !important;
    }

    &__form {
      position: absolute;
      width: 100%;
      top: 50%;

      &.is-visible {
        transform: translateY(-50%);
      }

      button[type='submit'] {
        margin: 2em 0 1em 0;
        width: 100%;
      }

      p {
        margin: 0 0 0.5em 0;
      }

      a {
        color: darken($accent-text, 15%);

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .k-dashboard {
    & > .k-inner {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    &--sidebar {
      flex-basis: 25%;
      margin: 0 0 2em 0;
    }

    &--main {
      flex-basis: 70%;
    }
    &--main__liner {
      p {
        &:nth-child(2) {
          &:before {
            content: 'My Account';
            position: absolute;
            top: 12%;
            left: 32%;
          }
        }
      }
    }
  }
}
