body.single-product .breadcrumbs {
  border: none;
}
.select-area{
	border:1px solid #ccc;
	padding:15px 15px 1px 15px;
	box-sizing:border-box;
	margin-bottom:20px;
	}
	.select_options_area{
	width:20%;
	float:left;
	}
	.select_options_text{
	width:80%;
	float:left;
	text-transform:uppercase;
	margin-top:5px;
	}
	.select_option{
	width:auto;
	font-family: verdana;
	font-size: 13px;
	display:inline-flex;
	color: #fff;
	padding: 3px;
	border-radius: 5px;
	background-color: #f4b13e;
	color:#ffffff;
	}
	.wcsatt-options-prompt-action{
	padding:10px !important;
	display:block;
	cursor: pointer;
	}
	.wcsatt-options-prompt-radio{
	border-radius: 5px;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
	}
	.clear{
	clear:both;
	}
.mag-override-woo {
  .product.type-product {
    @include clearfix();
    padding-bottom: 2em;
  }
}

@media (min-width: 769px) {
  .mag-override-woo {
    .product.type-product {
      @include clearfix();
      padding: $padding-xs 0;
    }

    .product {
      .woocommerce-product-gallery.images {
        width: 40%;
      }
    }
  }
}