.is-ie11 {
  #k-backdrop {
    display: none;
  }
}
main {
  outline: none;
}
body {
  &.cart-sidebar-open {
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
}

#k-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.4s $ease-out-quart;
  pointer-events: none;
  user-select: none;

  &.active {
    z-index: 100;
    opacity: 0.9;
    pointer-events: all;
  }
}

img[data-src] {
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 0.3s $ease-in-circ, transform 1s $ease-out-circ;

  &.lazyload--complete {
    opacity: 1;
    transform: scale(1);
  }
}

.k-blog-breadcrumb {
  display: none; // just don't even show it on mobile
  text-align: right;

  & > .k-inner {
    border-bottom: 1px solid #ddd;
  }

  &--content {
    padding: 1.5em 15% 1.5em 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    font-size: 85%;
  }

  a {
    color: $black;

    &:hover {
      color: $primary;
    }
  }
}

.k-header--cart {
  position: relative;
}

#k-cartnum {
  position: absolute;
  // top: -1.15em;
  // left: 50%;
  top: 33%;
  left: 3em;
  line-height: 0;
  font-size: 75%;
  color: $true-white;
  opacity: 0;
  transform: translate(-50%, 100%);
  transition: opacity 1s $ease-out-circ, transform 1s $ease-out-circ;

  &.k-has-value {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 1.5em;
    height: 1.5em;
    background: $primary;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.k-figure {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  &--rounded {
    border-radius: 0.667em;
  }

  &--fpo {
    background: $primary;

    &:after {
      display: block;
      content: 'F P O';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-family: $heading-font;
      font-size: 400%;
      color: $true-white;
    }
  }

  &--img {
    @include fill-parent();
  }
}

.koi-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: auto;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    fill: lighten($accent-text, 10%);
  }
}

.koi-svg {
  position: relative;

  svg {
    @include fill-parent();
    overflow: hidden;
  }
}

.has-play-button {
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 0.67em solid transparent;
    border-bottom: 0.67em solid transparent;
    border-left: 1em solid $black;
    pointer-events: none;
    user-select: none;
    z-index: 3;
  }
}

.k-play-button {
  fill: $true-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s $ease-out-circ;
  width: 30%;
  max-width: 7.8125em;

  &:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) rotate(360deg) scale(0.8, 0.8);
  }
}

.k-goldstar {
  display: inline-block;
  width: 1em;
  position: relative;

  &--liner {
    padding-bottom: 100%;
  }

  svg {
    @include fill-parent();
    overflow: hidden;
  }
}

.k-arrow {
  width: 1.5em;
  position: relative;

  &--liner {
    padding-bottom: 100%;
    pointer-events: none;

    * {
      pointer-events: none;
    }
  }

  svg {
    @include fill-parent();
    overflow: hidden;

    circle,
    polyline,
    line {
      stroke: $accent-text;
      transition: stroke 0.4s $ease-out-circ;
    }
  }

  &:hover {
    cursor: pointer;

    svg {
      circle,
      polyline,
      line {
        stroke: $bg-dark;
      }
    }
  }
}

input[type='number'] {
  padding: 0.5em 0.25em 0.5em 1ch;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

@media (min-width: $bp-sm) {
  input[type='number'] {
    font-size: 175%;
  }
}

@media (min-width: $bp-md) {
  #k-cartnum {
    top: -1.15em;
    left: 50%;
    right: auto;
  }
}

@media (min-width: $bp-lg) {
  .k-blog-breadcrumb {
    display: block;
  }
}
