form {
  h3 {
    font-size: 2em;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  label,
  input,
  textarea,
  select {
    display: block;
    min-width: 100%;
    max-width: 100%;
  }

  label {
    font-weight: 500;

    abbr {
      color: red;
    }
  }

  input {
    appearance: none;
    background: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 1.5em 0 0.5em 0;
  }

  textarea {
    min-height: 12.5em;
    resize: none;
    padding: 1em;
    margin-top: 1em;
  }

  select {
    margin-top: 1em;
    appearance: none;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    &:hover {
      cursor: pointer !important;
    }

    &:checked {
      & + label:before {
        background: $primary;
      }
    }

    & + label {
      display: inline-block;
      min-width: auto;
      position: relative;
      font-weight: 400;
      margin-left: 2em;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 49%; // some weirdness
        left: -2em;
        width: 1em;
        height: 1em;
        border: 1px solid #ddd;
        background: $true-white;
        transition: background 0.4s $ease-out-circ;
        transform: translateY(-50%);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.k-input {
  & + label {
    user-select: none;
    pointer-events: none;
  }

  &.has-value {
    & + label {
      transform: translateY(-100%);
    }
  }
}
