$padding-mini: 3em;
$padding-xs: 5.8595em;
$padding-sm: 7.8125em;
$padding-md: 11.7187em;
$padding-lg: 15.625em;

.k-block {
  &--sm {
    padding: $padding-mini 0;
  }

  &--md {
    padding: $padding-xs 0;
  }

  &--lg {
    padding: $padding-sm 0;
  }
}

.k-inner {
  margin: auto;

  &--sm,
  &--md,
  &--lg,
  &--xl {
    width: 90%;
  }

  &--sm {
    max-width: 58.33em;
  }
}

.k-no-padding {
  &--top {
    padding-top: 0 !important;
  }

  &--bottom {
    padding-bottom: 0 !important;
  }
}

.k-half-padding {
  &--top {
    padding-top: 4.75em !important;
  }

  &--bottom {
    padding-bottom: 4.75em !important;
  }
}

@media (min-width: $bp-md) {
  .k-block {
    &--md {
      padding: $padding-sm 0;
    }

    &--lg {
      padding: $padding-md 0;
    }
  }

  .k-inner {
    &--md {
      width: 80%;
    }

    &--xl {
      .k-inner--md {
        width: 88.889%;
      }
    }
  }
}

@media (min-width: $bp-xl) {
  .k-block {
    &--md {
      padding: $padding-md 0;
    }

    &--lg {
      padding: $padding-lg 0;
    }
  }

  .k-inner {
    &--lg {
      width: 88%;
    }

    &--xl {
      width: 94.44%;

      .k-inner--md {
        width: 84.711%;
      }
    }
  }
}
