$padding-xs: 5.8595em;
$padding-sm: 7.8125em;
$padding-md: 11.7187em;
$padding-lg: 15.625em;

.k-block {
  &--md {
    padding: $padding-xs 0;
  }
}

.k-inner {
  margin: auto;

  &--sm,
  &--md,
  &--lg {
    width: 90%;
  }

  &--sm {
    max-width: 58.33em;
  }
}

@media(min-width: $bp-md) {
  .k-block {
    &--md {
      padding: $padding-sm 0;
    }
  }

  .k-inner {
    &--md {
      width: 80%;
    }
  }
}

@media(min-width: $bp-xl) {
  .k-block {
    &--md {
      padding: $padding-md 0;
    }
  }

  .k-inner {
    &--lg {
      width: 88%;
    }
  }
}
