@font-face {
  font-family: 'Recoleta Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/Recoleta-Regular.eot') format('eot');
}
@font-face {
  font-family: 'Recoleta Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/Recoleta-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Recoleta Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/Recoleta-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Recoleta Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/Recoleta-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Recoleta Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/RecoletaRegular.otf') format('otf');
}

@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../dist/fonts/GT-America-Light.otf') format('otf');
}
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../dist/fonts/gt-america-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../dist/fonts/gt-america-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/GT-America-Regular.otf') format('otf');
}
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/gt-america-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/fonts/gt-america-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../dist/fonts/GT-America-Medium.otf') format('otf');
}
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../dist/fonts/gt-america-medium-webfont.woff') format('woff');
}
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../dist/fonts/gt-america-medium-webfont.woff2') format('woff2');
}



$heading-font: 'Recoleta Regular', serif; 
$body-font: 'GT America', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  font-family: $body-font;
  line-height: 1.85;
}

#{headings()} {
  font-family: $heading-font;
  line-height: 1;
  font-weight: 400;
}

h1 {

}

h2 {
  font-size: 1.8em;
}

.k-headline {
  font-family: $heading-font;
  line-height: 1.225;

  &--xs {
    font-size: 1.5em;
  }

  &--sm {
    font-size: 1.9em;
  }

  &--md {
    font-size: 2.2em;
  }

  &--lg {
    font-size: 3em;
  }

  &--fake {
    font-size: 1em;
    font-family: $body-font;
    line-height: 1.4;
    font-weight: 400;
  }
}

.k-weight {
  &--sm {
    font-weight: 300;
  }

  &--md {
    font-weight: 400;
  }

  &--lg {
    font-weight: 500;
  }
}

.k-accent-text {
  color: $accent-text;
}

.k-underline {
  text-decoration: underline;
}

.k-rte-content {
  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  .k-button {
    text-decoration: none;

    &--dark {
      color: $true-white;
    }

    &:hover {
      text-decoration: none;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

a {
  text-decoration: none;
  transition: color .4s $ease-out-quart;

  &:hover {
    color: $primary !important;
  }
}

.k-upcase {
  text-transform: uppercase;
}

.k-bg-dark {
  background: $bg-gray;
}

@media(min-width: $bp-md) {
  .k-headline {
    &--md {
      font-size: 2.8em;
    }

    &--lg {
      font-size: 3.5em;
    }
  }
}

@media(min-width: $bp-lg) {
  .k-headline {
    &--md {
      font-size: 3em;
    }

    &--lg {
      font-size: 3.8em;
    }
  }
}

@media(min-width: $bp-lg) {
  .k-headline {
    &--md {
      font-size: 3.5em;
    }

    &--lg {
      font-size: 4.5em;
    }
  }
}

@media(min-width: $bp-xl) {
  .k-headline {
    &--sm {
      font-size: 2.5em;
    }

    &--md {
      font-size: 3.8em;
    }

    &--lg {
      font-size: 5em;
    }
  }
}

@media(min-width: $bp-xxl) {
  .k-headline {
    &--xs {
      font-size: 1.85em;
    }

    &--sm {
      font-size: 2.8em;
    }

    &--md {
      font-size: 4.33em;
    }

    &--lg {
      font-size: 6em;
    }
  }
}

@media(min-width: $bp-max) {
  body {
    font-size: .89vw;
    transition: font-size .2s $ease-out-circ;
  }

  .k-headline {
    &--xs {
      font-size: 1.9em;
    }
    
    &--sm {
      font-size: 3.2em;
    }

    &--md {
      font-size: 4.8em;
    }

    &--lg {
      font-size: 6.55em;
    }
  }
}

// @media(min-width: 2000px) {
//   body {
//     font-size: .865vw;
//   }
// }
