// .k-headerpadding {
// transition: padding .4s $ease-out-circ;
// }

.k-limit-reached {
  color: green;
}

.k-strikethrough {
  text-decoration: line-through;
  color: $true-black;
}

@keyframes submitting {
  0% {
    transform: translateX(0%) skew(-9deg);
  }

  100% {
    transform: translateX(90%) skew(-9deg);
  }
}

.fade {
  opacity: 0;
  transition: opacity 0.35s $ease-out-circ;
}

.backdrop-active {
  z-index: 100;
  opacity: 0.9;
  pointer-events: all;
}

.k-result-error {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba($black, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  &--blur {
    filter: blur(3px);
  }
}

.k-latestbatch__error {
  position: absolute;
  text-align: center;
  color: $true-white;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  a,
  a:visited {
    text-decoration: underline;
    color: $true-white;
  }
}

.k-base-font-size {
  font-size: 100% !important;
}

.k-display-inline-block {
  display: inline-block !important;
}

// .k-goldstar--0 {
// margin-left: 0.5em !important;
// }

.k-wraparound-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
